<div id="signupGetInfo">
	<div class ="signup-titlebar" > <font id ="signup-title"> You're almost there! </font></div>
	Tell us about your self
		<form class="form" action = "/finishregistration"  method="POST"  id ="login">
			<fieldset>
			<!-- Style Of Cause -->
			<div class="control-group">
				<div class="controls">
					<input type="text" class="input-xxlarge"  placeholder="First Name" name="firstname">
				</div>
				<div class="controls">
					<input type="text" class="input-xxlarge"  placeholder="Last Name" name="lastname">
				</div>
				<div class="controls">
					<input type="text" class="input-xxlarge"  placeholder="age (optional)" name="age">
				</div>
				<div class="controls">
					<input type="text" class="input-xxlarge"  placeholder="School" name="school">
				</div>
				<label class="control-label" for="occupations">Occupation</label>
				<select id ="occupations" name="occupation">
					<option selected = "selected" disabled = "disabled"> select.. </option>
					<option value ="student">Student</option>
					<option value ="solicitor">Solicitor</option>
					<option value ="litigator">Litigator</option>
					<option value ="paralegal">Paralegal</option>
					<option value ="library">Library Services</option>
					<option value ="professor">Professor</option>
					<option value ="academic">Academic</option>
					<option value ="other">Other</option>
				</select>
				<button type="submit" class="btn">Sign in</button>
				
			</div>  
			</fieldset>
		</form>	
</div>	



  

 


