$def with (account,sub)

<link href="./static/css/account.css" rel="stylesheet">
 <font class ="myCitationsTitle red"> My Account </font>
<br>
 

		
    
 <div class="container" id ="account-conatiner" style ="margin-top:50px;">     
	<div id ="accountDetails">
		<h2><a data-toggle="modal"href="#accountModal" Title="edit details" ><i  class="icon-edit" id = "edit"></i></a> Account Details </h2>
		<hr>
		
		<div class = "row">
			 <div id ="accountDetails-inner" class = "span3">
				<h4> Email </h4>
				<h4> Password </h4>
				<h4> Occupation</h4>
				<h4> School </h4>
			 </div> 		
			 
			<div class = "span4" id ="user-details"> 
				<h4> $:account.email </h4>
				<h4> <a href ='#'> change your password </a> </h4>
				<h4> $:account.occupation</h4>
				<h4> $:account.school </h4>
			</div>
		</div> <!-- Row -->
			
	</div> <!-- Account -->
	
	<div id = "subsciptionDetails">
	
		<h2 style = "padding-left: 20px;"> <!-- <i class="icon-edit" id = "edit"></i> --> Subscription</h2>
		<hr>
		<div class = "row">
			 <div id ="accountDetails-inner" class = "span3">
				<h4> Plan Type </h4>
				<h4> Exp. Date</h4>
			 </div> 		
			 
			<div class = "span4" id ="user-details"> 
				<h4> $sub.subscript	 </h4>
				<h4> $sub.exp </h4>
			</div>
		</div> <!-- row -->
	 </div> <!-- Sub -->
	 
	 <h4> <a href ='#'> delete my account</a> </h4>
	 
</div> <!-- Container --> 
 
 
 <!--- Change account detailas --->
<div id="accountModal" class="modal hide fade" style="display: none; ">
            <div class="modal-header">
              <button class="close" data-dismiss="modal">x</button>
              <h3>Account Details</h3>
            </div>
			
            <div class="modal-body">
			
			<form class="form-horizontal" id ="Book-Form"> 
				<fieldset>

					<!--Email-->
					<div class="control-group"  id ="email-controlgroup">
						<label class="control-label" for="Email"> <b>Email</b> </label>
						<div class="controls">
							<input type="text" class="input-large" id="Email"
										placeholder="" name = "email" value =$:account.email >
						</div>
					</div>
					<!--Occupation-->
					<div class="control-group"  id ="email-controlgroup">
						<label class="control-label" for="occupation"> <b>Occupation</b> </label>
						<div class="controls">
							<input type="text" class="input-large" id="occupation"
										placeholder="" name = "email" value =$:account.occupation>
						</div>
					</div>
					<!--Occupation-->
					<div class="control-group"  id ="school-controlgroup">
						<label class="control-label" for="school"> <b>School</b> </label>
						<div class="controls">
							<input type="text" class="input-large" id="school"
										placeholder="" name = "email" value =$:account.school>
						</div>
					</div>
					

            </div>
            <div class="modal-footer">
              <a href="#" class="btn" data-dismiss="modal">Close</a>
              <a href="#" class="btn btn-primary">Save changes</a>
            </div>
</div>

 
 
 
 


<script src="./static/js/myCitations.js"></script>
