	
		<!-- Submit Button -->
	<button  type ='button' class="btn btn-danger submitButton" > Generate!</button>
	
	<button type="reset" class="btn resetButton"  id="CanadaCaseReset" style ="margin-left:530px">reset</button>
	<!-- Error Containers -->
	<br>
	
	<div class = "warning-container">
	</div>

	<div class ="error-container">
	</div>
	
<div class ="result-container">
	
	<br>
	<hr>
	<h3> Result</h3>
	
	<div id="result-editField" contenteditable="true">
	<style scoped>
	  #result-editField { margin-bottom: 10px; margin-left: 2px; }
	  [contenteditable="true"] { padding: 10px; outline: 1px dashed #CCC; }
	  [contenteditable="true"]:hover { outline: 1px dashed #0090D2; }
	</style>
	<font class ="results"> </font>
	
	</div>	
<a data-toggle="modal" id ="storeCitationModal-btn" href="#storeCitationModal" class="btn">Save Citation</a>		
</div>
	<img src ="./static/img/loading.gif" class = "loading-gif" >	
	
