<section>

	<!-- Dictionary -->

	<!-- The forms --> 
	<div class="leftHalf" id="Dictionary-Container"> 

		<form class="form-horizontal" id ="Dictionary-Form"> 

		<fieldset>
		
	<div id = "manual-header" class="header2">Dictionary</div>
	<br>
	
		<!--Title-->
		<div class="control-group"  id ="DictionaryTitle-controlgroup">
			<label class="control-label" for="DictionaryTitle"> <b>Title<font color ="red"> *</font></b> </label>
			<div class="controls">
				<input type="text" class="input-xxlarge" id="DictionaryTitle"
							placeholder="" name = "dictionary_title">
			</div>
		</div>			
					
		<!--Edition-->
		<div class="control-group"  id ="DictionaryEdition-controlgroup">
			<label class="control-label" for="DictionaryEdition"> <b>Edition<font color ="red"> *</font></b> </label>
			<div class="controls">
				<input type="text" class="input-xxlarge" id="DictionaryEdition"
							placeholder="" name = "dictionary_edition">
			</div>
		</div>			
		<!--Word-->
		<div class="control-group"  id ="DictionaryWord-controlgroup">
			<label class="control-label" for="DictionaryWord"> <b>Word<font color ="red"> *</font></b> </label>
			<div class="controls">
				<input type="text" class="input-xxlarge" id="DictionaryWord"
							placeholder="" name = "dictionary_word">
			</div>
		</div>	
			
		<!-- Error Containers -->
		$:render.formResults("Dictionary")
			
			
		
		<!-- Submit Button 
		<button  class="btn btn-danger" id ="DictionarySubmitButton"> Generate!</button>
		<button type="reset" class="btn"  id="DictionaryReset" >reset</button>
		<button   type = "button" id="thetestbutton" >test</button>-->


		</fieldset>
		</form>
		$:render.formStoreCitationModal("Dictionary")

	</div> <!-- leftHalf-->

				<div class "rightHalf tooltips" id = "Dictionary-tooltips" >
		</div> <!-- rightHalf / tooltips -->	
		
</section>		