
<option value ="Ch" >Chancery Court</option>
<option value ="Ct Just" >Court of Justice (Scotland)</option>
<option value ="Ct Sess" >Court of Sessions (Scotland)</option>
<option value ="HC Adm" >High Court of Admirality</option>
<option value ="HCJ" >High Court of Justice</option>
<option value ="ChD" >High Court: Chancery Division</option>
<option value ="FamD" >High Court: Family Division</option>
<option value ="QBD" >High Court: Queen's Bench Division</option>
<option value ="Div Ct" >High Court: Divisional Court</option>
<option value ="CA Crim" >Court of Appeal: Criminal Division</option>
<option value ="CA" >Court of Appeal: Civil Division</option>
<option value ="HL (Eng)" >House of Lords (England)</option>
<option value ="HL (Scot)" >House of Lords (Scotland)</option>
<option value ="PC" >Judicial Committee of the Privy Council</option>
<option value ="Stip Mag Ct" >Stipendiary Magistrate Court</option>
<option value ="Mag Ct" >Magistrate Court</option>
<option value ="Crown Ct" >Crown Court</option>
<option value ="Stip Mag Ct" >Stipendiary Magistrate Court</option>
<option value ="Other" >Other (input) </option>
</select>	
<!--
[["Chancery Court", "Ch"], 
["Court of Justice (Scotland)", "Ct Just"], 
["Court of Sessions (Scotland)", "Ct Sess"], 
["High Court of Admirality", "HC Adm"], 
["High Court of Justice", "HCJ"], 
["High Court: Chancery Division", "ChD"],
["High Court: Family Division", "FamD"], 
["High Court: Queen's Bench Division", "QBD"], 
["High Court: Divisional Court", "Div Ct"], 
["Court of Appeal: Criminal Division", "CA Crim"],
["Court of Appeal: Civil Division", "CA"], 
["House of Lords (England)", "HL (Eng)"],
["House of Lords (Scotland)", "HL (Scot)"],
["Judicial Committee of the Privy Council", "PC"],
["Stipendiary Magistrate Court", "Stip Mag Ct"],
["Magistrate Court", "Mag Ct"],
["Crown Court", "Crown Ct"],
["Stipendiary Magistrate Court", "Stip Mag Ct"],
["Other", "Other"]] -->