<section>


 <!-- MANUAL FORM -->
	<div id = "manual-header" class="header2"> Enter Your Information Manually</div>
	<br>
	<br>
	<!-- CanadianCase-Div--> 
	<div class="leftHalf" id="UKCase-Container"> 
		<!-- CanadianCase-Form--> 
		<form class="form-horizontal" id ="UKCase-Form"> 
		<fieldset>
		
		<!-- Style Of Cause -->
		<div class="control-group"  id ="UKCaseStyle-controlgroup">
			<label class="control-label" for="UKCaseStyle"><b>Style Of Cause<font color ="red"> *</font> </b></label>
			<div class="controls">
				<input type="text" class="input-xxlarge" id="UKCaseStyle" 
							placeholder="" name="styleofcause">
			</div>
		</div>  
		
		<!--Parallel Citations -->
		<div class="control-group" id ="UKCaseParallel-controlgroup">
			<label class="control-label" for="UKCaseParallel"><b>Parallel Citations<font color ="red"> *</font> </b></label>
			<div class="controls">
				<input type="text" class="input-xxlarge" id="UKCaseParallel"
							placeholder="(Separated by commas or semicolons)" name = "parallel">
			</div>
		</div>
			<!--Parallel Citations: Reporter list -->
			<div class="controls form-inline" id ="UKCaseParallel-reporter">
				<span class="help-block">
							<!-- REPORTER LIST -->
								<button class ="browsebutton" type ="button" style ="color: #0088cc; margin-bottom: 5px;"> &#187  <i> Search Reporters</i> </span> </button>
								<div id ="reporter-container" >
									<form class="form-search">
									  <input type="text" class="input-medium search-query" placeholder ="Search..." id = "reporter-input" name="reporter">
									</form>
									<button class ="browsebutton" type ="button" style ="color: #0088cc;  float: right; margin-right: 40px;">   <i> close</i> </span> </button> 
									<div id ="reporter-list">
									<table class="table table-condensed table-hover" id = "reporter-table" style = "max-height:400px">

									</table>
									</div> <!-- testy -->
							</div> <!-- container-->   
				</div>												

		<!-- Year -->
		<div class="control-group"  id ="UKCaseYear-controlgroup">
			<label class="control-label" for="UKCaseYear"> <b>Year of Decision<font color ="red"> *</font></b> </label>
			<div class="controls">
				<input type="text" class="input-xxlarge" id="UKCaseYear" placeholder="" name = "year">
			</div>
		</div>
		
		<!--Court -->
		<div class="control-group"  id ="UKCaseCourt-controlgroup">
		<label class="control-label" for="UKCaseCourt"><b>Court<font color ="red"> *</font> </b></label>
			<div class="controls">
				<select  id="court-selection"  name = "court">
				$:render.formUKCourts()

				<input type="text" style = "width: 275px" id="UKCaseCourt" class ="optionalCourt" placeholder="" name = "court_option">
			</div>
		</div>
		
		<!--ShortForm-->
		<div class="control-group">
			<label class="control-label" for="UKCaseShortForm">Short Form</label>
			<div class="controls">
				<input type="text" class="input-xxlarge" id="UKCaseShortForm"
							placeholder="" name = "shortform">
			</div>
		</div>	

		<!--Pinpoint-->
		<div class="control-group" >			
			<label class="control-label" for="UKCasePinpoint">Pinpoint</label>
				<div class="controls" >
					<div id= "pinciteWrapper" style = "width:220px; height: 30px; position: absolute" data-toggle ="tooltip"> </div>

						<select name = "pincite_selection" id="pincite-selection"  disabled style ="float:left">
							<option  value ="" style = "color: grey" >		select</option>
							<option value ="pinPoint_para" >				Pinpoint to Paragraph</option>
							<option value ="pinPoint_page" >				Pinpoint to Page</option>
						</select>	

						<div id ="UKpincite-form" class = "inline">
						<input class="span2 " id="pincite-form-input" placeholder = "page" name = "pincite_input" type="text">
						
							<label class="radio" id ="pinciteRadio1">
							  <input type="radio" name="pincite_radio" value="option1" checked >
							  <font  id="pinciteRadio_Reporter1"> Reporter 1 </font>
							</label>

							<br>
						</div>

				</div>
		</div>							
		
		<!-- EXTRA OPTIONS -->
		<div id = "hidden-forms">

			<!-- Accordian -->
			<div class="accordion" id="UKCase-Accordion">
			  <div class="accordion-group" style="border:none">
				<div class="accordion-heading">
					<a class="accordion-toggle" id='UKCase-Accordion-Toggle'  data-toggle="collapse" data-parent="#extra-options-accordian-extra" href="#UKCaseExtraOptions" style="color: #000000">
						<i class="icon-play"></i> Options 
					</a>
				</div>
				<div id="UKCaseExtraOptions" class="accordion-body collapse">
				<!-- INNER -->
				<div class="accordion-inner">

					<!--Judge-->
					<div class="control-group">
						<label class="control-label" for="UKCaseJudge">Judge</label>
						<div class="controls">
							<input type="text" class="input-xxlarge" id="UKCaseJudge"
										placeholder="" name = "judge">
								<label class="checkbox">
									<input type="checkbox" value="checked" name="judge_dissenting">
										Dissenting
								</label>
						</div>
					</div>										
					
					<!--Citing -->											
					<div class="control-group">
						<label class="control-label" for="UKCaseCiting">Citing</label>
						<div class="controls">
							<div class = "well">
									<!-- styleofcause -->
								<div class="input-prepend" style="padding-bottom:2px">
								<span class="add-on" >Style Of Cause</span>
									<input type="text" class="input-xlarge" id="UKCaseCiting-Style"
												placeholder="" name = "citing_styleofcause">
								</div>
								
									<!-- parallel -->
								<div class="input-prepend" style="padding-bottom:2px">
								<span class="add-on">Parallel Citations</span>
									<input type="text" class="input-xlarge" id="UKCaseCiting-Parallel"
												placeholder="" name = "citing_parallel">
								</div>
									<!-- year-->
								<div class="input-prepend" style="padding-bottom:2px">
								<span class="add-on">Year of Decision</span>
									<input type="text" class="input-xlarge" id="UKCaseCiting-Year"
												placeholder="" name = "citing_year">
								</div>
									<!-- court -->
								<div class="input-prepend" style="padding-bottom:2px">
								<span class="add-on">Court</span>
									<select id="citing-court-selection" class="court-selection" name = "citing_court" >
									$:render.formUKCourts()	
									
									<input type="text" class = "input-large court-input"  id="UKCaseCiting-Court"  placeholder="" name = "citing_court_option">									
								</div>
							</div> <!-- well-->
						</div><!-- controls-->
					</div>		
					
					
					<!--History-->										
					<div class="control-group" >
						<label class="control-label" for="UKCaseHistory">History</label>
						
						
						<!--History 1 -->	
						<div class="controls" id = "history1">
							<div class ="well">
								<!--Selection -->
								<select name = "history_aff1">
									<option value= "affirming">Affirming</option>
									<option value= "reversing">Reversing</option>
									<option value= "affirmed">Affirmed</option>
									<option value= "reversed">Reversed</option>													
								</select>
								<!-- Affirming -->
								<div class="input-prepend" style="padding-bottom:2px">
								<span class="add-on" >Parallel Citations</span>
									<input type="text" class="input-xlarge" id="UKCaseHistory-Parallel1"
												placeholder="" name = "history_parallel1">
								</div>
								
								<!-- Reversing -->
								<div class="input-prepend" style="padding-bottom:2px">
								<span class="add-on" >Year of Decision</span>
									<input type="text" class="input-xlarge" id="UKCaseHistory-Year1"
												placeholder="" name = "history_year1">
								</div>
								
								<!-- Reversed By-->
								<div class="input-prepend" style="padding-bottom:2px">
								<span class="add-on">Court</span>
								
									<select  id="history-court-selection1" class="court-selection" name = "history_court1">
									$:render.formUKCourts()								
									<input type="text" class = "input-large court-input"  id="UKCaseHistory-Court1"  placeholder="" name = "history_court_option1">									
								</div>
								</div> <!-- well -->
							</div>												
								
							<!--History 2 -->		
							<div class="controls" id ="history2">
								<div class ="well">
									<select name = "history_aff2">
										<option value= "affirming">Affirming</option>
										<option value= "reversing">Reversing</option>
										<option value= "affirmed">Affirmed</option>
										<option value= "reversed">Reversed</option>													
									</select>
									<!-- Affirming -->
									<div class="input-prepend" style="padding-bottom:2px">
									<span class="add-on" >Parallel Citations</span>
										<input type="text" class="input-xlarge" id="UKCaseHistory-Parallel2"
													placeholder="" name = "history_parallel2">
									</div>
									
									<!-- Reversing -->
									<div class="input-prepend" style="padding-bottom:2px">
									<span class="add-on" >Year of Decision</span>
										<input type="text" class="input-xlarge" id="UKCaseHistory-Year2"
													placeholder="" name = "history_year2">
									</div>
									
									<!-- Reversed By-->
									<div class="input-prepend" style="padding-bottom:2px">
									<span class="add-on">Court</span>
									
									<select  id="history-court-selection2" class="court-selection" name = "history_court2">
										$:render.formUKCourts()															
									<input type="text" class = "input-large court-input"  id="UKCaseHistory-Court2"  placeholder="" name = "history_court_option2">									
									</div>
								</div><!-- well -->
							</div> 
								
							<!--History 3 -->		
							<div class="controls" id ="history3">
								<div class ="well">
									<select name = "history_aff3">
										<option value= "affirming">Affirming</option>
										<option value= "reversing">Reversing</option>
										<option value= "affirmed">Affirmed</option>
										<option value= "reversed">Reversed</option>													
									</select>
									<!-- Affirming -->
									<div class="input-prepend" style="padding-bottom:2px">
									<span class="add-on" >Parallel Citations</span>
										<input type="text" class="input-xlarge" id="UKCaseHistory-Parallel3"
													placeholder="" name = "history_parallel3">
									</div>
									
									<!-- Reversing -->
									<div class="input-prepend" style="padding-bottom:2px">
									<span class="add-on" >Year of Decision</span>
										<input type="text" class="input-xlarge" id="UKCaseHistory-Year3"
													placeholder="" name = "history_year3">
									</div>
									
									<!-- Reversed By-->
									<div class="input-prepend" style="padding-bottom:2px">
									<span class="add-on">Court</span>
									
									<select  id="history-court-selection3" class="court-selection" name = "history_court3">
										$:render.formUKCourts()								
									<input type="text" class = "input-large court-input"  id="UKCaseHistory-Court3"  placeholder="" name = "history_court_option3">									
									</div>

								</div><!-- well -->
							</div> 
						<!-- Add new Button -->
						<div class="controls"> <div id = "addHistory"> + add new</div>
						</div>		
					</div>

					<!--Leave To Appeal -->
					<div class="control-group">
						<label class="control-label" for="UKCaseLeaveToAppeal">Leave To Appeal</label>
						<div class="controls">
							<div class = "well">
							<select name = "leaveToAppeal_selection" id= "leaveToAppeal-selection">
									<option value ="refused">Refused</option>
									<option value ="granted">Granted</option>
									<option value ="requested">Requested</option>
									<option value ="asOfRight">As of Right</option>
								</select>	
							<!-- docket no.-->
							<div class="input-prepend" style="padding-bottom:2px" id="UKCaseLeaveToAppeal-Docket">
							<span class="add-on">Citation/Docket no.</span>
								<input type="text" class="input-xlarge" 
											placeholder="" name = "leaveToAppeal_docket">
							</div>													
							
							<!-- court appealed to-->
							<div class="input-prepend" style="padding-bottom:2px">
							<span class="add-on" >Court Appealed To</span>
							
							<select  id="leave-court-selection1" class="court-selection" name = "leaveToAppeal_court">
									$:render.formUKCourts()		
								<input type="text" class = "input-large court-input"  id="UKCaseLeaveToAppeal-Court"  placeholder="" name = "leaveToAppeal_court_option">																		
							</div>
							</div> <!--well-->
						</div>
					</div>		
			
				  </div> <!-- accordian inner -->
				</div><!-- accordian collapse -->
			  </div> <!-- accordian group -->
			</div> <!-- Accordian (End of Other Options )-->

		</div> <!-- Hidden Forms -->

		 <!--END OF THE FORM FIELDS -->
		

		
		<!-- Error Containers -->
	$:render.formResults()
		
		
		
		
				<!-- THE TEST BUTTOOOOOOOOOOOOOOOOOON-->
		<button   type = "button" id="thetestbutton" >test</button> 
				<!-- THE TEST BUTTOOOOOOOOOOOOOOOOOON-->



				
		</fieldset>
	</form>
	</div> <!-- leftHalf -->
	
	<div class "rightHalf tooltips">
	</div> <!-- RightHalf -->

	</section>