$def with (greeting= None)

 <img style = "height: 65px" src ="./static/img/banner.png"> 
<hr>
<br>

 <!--  Manual Information Form-->   
 	<div class="container" style ="margin-top:30px;">     

        <div class="tabbable"> <!-- Only required for left/right tabs -->
          <ul class="nav nav-pills">
            <li class="active"><a href="#tab1" data-toggle="tab">Case (Canada)</a></li>
            <li><a href="#tab2" data-toggle="tab">Case (USA)</a></li>
            <li><a href="#tab3" data-toggle="tab">Case (UK)</a></li>
          </ul>
      <hr>
            <div class="tab-content">	
                <div class="tab-pane active" id="tab1">
					<section>
					<div class="header3">Canadian case</div> <br>
					
					
					 <!-- CANLII-->
					   <div class= "header2" style= "margin-bottom:20px; ">Enter A <a href ="http://www.canlii.org/"  style = "color:#fe6060">CanLII </a>site </div>
						  <!-- <div class="well"> -->
						<form class="form-horizontal" action="/form/canlii" method="POST">
							<fieldset>
							<!-- Name -->
							<div class="control-group">
								<!-- Name <label class="control-label" for="inputtest">test </label> -->
								<div class="controls" style = "margin: 0px">
									<input type="text" class="input-xxlarge" id="canlii-input" name="url" placeholder=" ex: http://www.canlii.org/en/ca/scc/doc/2013/2013scc29/2013scc29.html" >
									<button type="submit" class="btn btn-danger" id="canlii-go" >Go</button>
								</div>
								<!-- <button type="submit" class="btn">Go</button> -->
							</div> 
							<br>				
								
							</fieldset>
							<div id="canlii-result"> </div>
						</form>
						 
						 
						 <!-- MANUAL FORM -->
						<div id = "manual-header" class="header2">Or Enter Your Information Manually</div>
						<br>
						<br>
						<!-- The forms --> 
						<div class="leftHalf" id="CanadaCase-Form"> 

                            

                            <form class="form-horizontal" action="/form/CanadianCase" method="POST"  id ="canadacase-form">
                            <fieldset>
                            <!-- Style Of Cause -->
                            <div class="control-group"  id ="CanadaCaseStyle-controlgroup">
                                <label class="control-label" for="CanadaCaseStyle"><b>Style Of Cause<font color ="red"> *</font> </b></label>
                                <div class="controls">
									<input type="text" class="input-xxlarge" id="CanadaCaseStyle" 
												placeholder="" name="styleofcause">
								</div>
                            </div>  
                            
                            <!--Paralle Citations -->

                            <div class="control-group" id ="CanadaCaseParallel-controlgroup">
                                <label class="control-label" for="CanadaCaseParallel"><b>Parallel Citations<font color ="red"> *</font> </b></label>
                                <div class="controls">
                                    <input type="text" class="input-xxlarge" id="CanadaCaseParallel"
                                                placeholder="(Separated by commas or semicolons)" name = "parallel">
                                </div>
                            </div>
														
						<div class="controls form-inline" id ="CanadaCaseParallel-reporter">
							<span class="help-block">
												
												<!-- REPORTER LIST <i class="icon-play"></i> -->
													<button class ="browsebutton" type ="button" style ="color: #0088cc; margin-bottom: 5px;"> &#187  <i> Search Reporters</i> </span> </button>
													<div id ="reporter-container" >
														<form class="form-search">
														  <input type="text" class="input-medium search-query" placeholder ="Search..." id = "reporter-input" name="reporter">
														</form>
														<div id ="reporter-list">
														<table class="table table-condensed table-hover" id = "reporter-table" style = "max-height:400px">

														</table>
														</div> <!-- testy -->
												</div> <!-- container-->   
							</div>												

                            <!--Date -->
                            <div class="control-group"  id ="CanadaCaseDate-controlgroup">
                                <label class="control-label" for="CanadaCaseDate"> <b>Year of Decision<font color ="red"> *</font></b> </label>
                                <div class="controls">
                                    <input type="text" class="input-xxlarge" id="CanadaCaseDate"
                                                placeholder="" name = "year">
                                </div>
                            </div>
                            
							<!--Court -->
                            <div class="control-group"  id ="CanadaCaseCourt-controlgroup">
                                <label class="control-label" for="CanadaCaseCourt"> <b>Court<font color ="red"> *</font></b></label>
                                <div class="controls">
                                    <input type="text" class="input-xxlarge" id="CanadaCaseCourt"
                                                placeholder="ex: " name = "court">
                                </div>
                            </div>
							<!--ShortForm-->
							<div class="control-group">
								<label class="control-label" for="CanadaCaseShortForm">Short Form</label>
								<div class="controls">
									<input type="text" class="input-xxlarge" id="CanadaCaseShortForm"
												placeholder="" name = "shortform">
								</div>
							</div>	
							
										
							<!--Pincite-->
							<div class="control-group" >			
								<label class="control-label" for="CanadaCasePinpoint">Pinpoint/Cite</label>
									<div class="controls" >
										<div id= "pinciteWrapper" style = "width:220px; height: 30px; position: absolute" data-toggle ="tooltip"> </div>

											<select name = "pincite_selection" id="pincite-selection"  disabled>
												<option value ="" style = "color: grey" >		select</option>
												<option value ="pinPoint_para" >				Pinpoint to Paragraph</option>
												<option value ="pinPoint_page" >				Pinpoint to Page</option>
												<option value ="citeTo">Cite To</option>
											</select>	

											<div id ="pincite-form" class = "inline">
											<input class="span2 " id="pincite-form-input" placeholder = "page" name = "pincite_input" type="text">
											
												<label class="radio" id ="pinciteRadio1">
												  <input type="radio" name="pincite_radio" value="option1" checked >
												  <font  id="pinciteRadio_Reporter1"> Reporter 1 </font>
												</label>
												<label class="radio" id ="pinciteRadio2">
												  <input type="radio" name="pincite_radio" id="pinciteRadio1" value="option2" >
												  <font  id="pinciteRadio_Reporter2"> Reporter 2 </font>
												</label>	
												<br>
											</div>

									</div>
							</div>							
							
							<!-- All forms that will appear hidden until further processing -->
							<div id = "hidden-forms">

								<!-- Accordian -->
								<div class="accordion" id="extra-options-accordian-extra">
								  <div class="accordion-group" style="border:none">
									<div class="accordion-heading">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#extra-options-accordian-extra" href="#collapseTwo-extra" style="color: #000000">
											<i class="icon-play"></i> Options 
										</a>
									</div>
									<div id="collapseTwo-extra" class="accordion-body collapse">
									<!-- Inner forms -->
									<div class="accordion-inner">
										


										<!--Judge-->
										<div class="control-group">
											<label class="control-label" for="CanadaCaseJudge">Judge</label>
											<div class="controls">
												<input type="text" class="input-xxlarge" id="CanadaCaseJudge"
															placeholder="" name = "judge">
													<label class="checkbox">
														<input type="checkbox" value="">
															Dissenting
													</label>
											</div>
										</div>										
										
										<!--Citing -->											
										<div class="control-group">
											<label class="control-label" for="CanadaCaseCiting">Citing</label>
											<div class="controls">
												<div class = "well">

											
												<!-- styleofcause -->
											<div class="input-prepend" style="padding-bottom:2px">
											<span class="add-on" >Style Of Cause</span>
												<input type="text" class="input-xlarge" id="CanadaCaseCiting-Style"
															placeholder="" name = "citing_styleofcause">
											</div>
											
												<!-- parallel -->
											<div class="input-prepend" style="padding-bottom:2px">
											<span class="add-on">Parallel Citations</span>
												<input type="text" class="input-xlarge" id="CanadaCaseCiting-Parallel"
															placeholder="" name = "citing_parallel">
											</div>
											<!-- year-->
											<div class="input-prepend" style="padding-bottom:2px">
											<span class="add-on">Year of Decision</span>
												<input type="text" class="input-xlarge" id="CanadaCaseCiting-Year"
															placeholder="" name = "citing_year">
											</div>
											<!-- court -->
											<div class="input-prepend" style="padding-bottom:2px">
											<span class="add-on">Court</span>
												<input type="text" class="input-xlarge" id="CanadaCaseCiting-Court"
															placeholder="" name = "citing_court">
											</div>
											
											</div> <!-- well-->
											</div>
										</div>		
										
										
										<!--History-->										
										<div class="control-group" >
											<label class="control-label" for="CanadaCaseHistory">History</label>
											<!--<div id="CanadaCaseHistory-Group"> -->
												<div class="controls" id = "history1">
													<div class ="well">
														<select name = "history_aff">
															<option value= "affirming">Affirming</option>
															<option value= "reversing">Reversing</option>
															<option value= "affirmed">Affirmed</option>
															<option value= "reversed">Reversed</option>													
														</select>
														<!-- Affirming -->
														<div class="input-prepend" style="padding-bottom:2px">
														<span class="add-on" >Parallel Citations</span>
															<input type="text" class="input-xlarge" id="CanadaCaseHistory-Parallel"
																		placeholder="" name = "history-parallel">
														</div>
														
														<!-- Reversing -->
														<div class="input-prepend" style="padding-bottom:2px">
														<span class="add-on" >Year of Decision</span>
															<input type="text" class="input-xlarge" id="CanadaCaseHistory-Year"
																		placeholder="" name = "history_year">
														</div>
														
														<!-- Reversed By-->
														<div class="input-prepend" style="padding-bottom:2px">
														<span class="add-on">Court</span>
															<input type="text" class="input-xlarge" id="CanadaCaseHistory-Court"
																		placeholder="" name = "history_court">
														</div>

													</div> <!-- well -->
												</div>												
													
												<div class="controls" id ="history2">
													<div class ="well">
														<select name = "history_aff">
															<option value= "affirming">Affirming</option>
															<option value= "reversing">Reversing</option>
															<option value= "affirmed">Affirmed</option>
															<option value= "reversed">Reversed</option>													
														</select>
														<!-- Affirming -->
														<div class="input-prepend" style="padding-bottom:2px">
														<span class="add-on" >Parallel Citations</span>
															<input type="text" class="input-xlarge" id="CanadaCaseHistory-Parallel"
																		placeholder="" name = "history-parallel">
														</div>
														
														<!-- Reversing -->
														<div class="input-prepend" style="padding-bottom:2px">
														<span class="add-on" >Year of Decision</span>
															<input type="text" class="input-xlarge" id="CanadaCaseHistory-Year"
																		placeholder="" name = "history_year">
														</div>
														
														<!-- Reversed By-->
														<div class="input-prepend" style="padding-bottom:2px">
														<span class="add-on">Court</span>
															<input type="text" class="input-xlarge" id="CanadaCaseHistory-Court"
																		placeholder="" name = "history_court">
														</div>

													</div><!-- well -->
												</div> 
													
												<div class="controls" id ="history3">
													<div class ="well">
														<select name = "history_aff">
															<option value= "affirming">Affirming</option>
															<option value= "reversing">Reversing</option>
															<option value= "affirmed">Affirmed</option>
															<option value= "reversed">Reversed</option>													
														</select>
														<!-- Affirming -->
														<div class="input-prepend" style="padding-bottom:2px">
														<span class="add-on" >Parallel Citations</span>
															<input type="text" class="input-xlarge" id="CanadaCaseHistory-Parallel"
																		placeholder="" name = "history-parallel">
														</div>
														
														<!-- Reversing -->
														<div class="input-prepend" style="padding-bottom:2px">
														<span class="add-on" >Year of Decision</span>
															<input type="text" class="input-xlarge" id="CanadaCaseHistory-Year"
																		placeholder="" name = "history_year">
														</div>
														
														<!-- Reversed By-->
														<div class="input-prepend" style="padding-bottom:2px">
														<span class="add-on">Court</span>
															<input type="text" class="input-xlarge" id="CanadaCaseHistory-Court"
																		placeholder="" name = "history_court">
														</div>

													</div><!-- well -->
												</div> 
											<div class="controls"> <div id = "addHistory"> + add new</div>
										</div>		
										</div>

										<!--Leave To Appeal -->
										<div class="control-group">
											<label class="control-label" for="CanadaCaseLeaveToAppeal">Leave To Appeal</label>
											<div class="controls">
											<div class = "well">
											<select name = "leaveToAppeal_selection" id= "leaveToAppeal-selection">
													<option value ="refused">Refused</option>
													<option value ="granted">Granted</option>
													<option value ="requested">Requested</option>
													<option value ="asOfRight">As of Right</option>
												</select>	
											<!-- docket no.-->
											<div class="input-prepend" style="padding-bottom:2px" id="CanadaCaseLeaveToAppeal-Docket">
											<span class="add-on">Citation/Docket no.</span>
												<input type="text" class="input-xlarge" 
															placeholder="" name = "leaveToAppeal_docket">
											</div>													
											
											<!-- court appealed to-->
											<div class="input-prepend" style="padding-bottom:2px">
											<span class="add-on" >Court Appealed To</span>
												<input type="text" class="input-xlarge" id="CanadaCaseLeaveToAppeal-Court"
															placeholder="" name = "leaveToAppeal_court">
											</div>


											</div> <!--well-->
											</div>
										</div>		
								
									  </div> <!-- accordian inner -->
									</div><!-- accordian collapse -->
								  </div> <!-- accordian group -->
								</div> <!-- Accordian (End of Other Options )-->

							</div> <!-- Hidden Forms -->
								
								
							<br>
								
								<div id ="result-container">
								<h3> Result</h3>
								<div id="result-editField" contenteditable="true">
								<style scoped>
								  #result-editField { margin-bottom: 10px; }
								  [contenteditable="true"] { padding: 10px; outline: 1px dashed #CCC; }
								  [contenteditable="true"]:hover { outline: 1px dashed #0090D2; }
								</style>
								<font id="results"> </font>
								</div>	            
							</div>
								
							
							<!-- Submit Button -->
							<button type="submit" class="btn btn-danger" id ="GoButton"> Generate!</button>
							<button type="reset" class="btn"  >reset</button>
							<button type = "button"	class="btn" id ="" style ="float:right" >sign up</button>



								
						</fieldset>
					</form>
						</div> <!-- span7-->
						<div class "rightHalf" id = "tooltips">
						</div> <!-- span5 / tooltips -->

					</section>
				</div> <!-- First Tab -->
                     
                        
                <div class="tab-pane" id="tab2">
                  <p>Howdy, I'm in Section 2.</p>
                </div>
                
                <div class="tab-pane" id="tab3">
                  <p>Howdy, I'm in Section 3.</p>
                </div>
                
			</div>    <!--Tab content -->
       </div> <!-- Tababble-->
    </div><!-- Entire Container -->
 <div class="container" style ="margin-top:50px;"> </div>     

	  