<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Legal Citation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="./static/css/bootstrap.css" rel="stylesheet">
	<link href="./static/css/bootstrap-styling-addon.css" rel="stylesheet">
	<link href="./static/css/bootstrap-wysihtml5.css" rel="stylesheet">
	
	<link href="./static/css/main.css" rel="stylesheet">
	<link href="./static/css/form.css" rel="stylesheet">
	<link href="./static/css/signup.css" rel="stylesheet">
    </head>
  <body style=" background:white">


      <div class = "span3" id ="FAQ-nav" >
        <ul class="nav nav-list" style ="border-width:1px" >
          <li class="nav-header">Contents </li>
          <li class="active">
            <a href="#CanadaCase">Canadian Cases</a>
          </li>
          <!--   <ul class="nav nav-list">
                <li>
                  <a href ="#">test</a>
                </li>
              </ul>  -->
          <li>
            <a href="#UKCase">UK Cases</a>
          </li>
          <li>
            <a href="#USCase">American Cases</a>
          </li>
          <li>
            <a href="#JournalArticle">Journal Articles</a>
          </li>
        </ul>
      </div>
    
  We have experienced law school first hand. we have spent countless hours slogging through the Mcgill Guide, trying to understand how to cite, and research efficiently. Too many nights have been spent at our desks instead of going to the weekly pub night. 
  This is our motivation to simplify your lives. Nobody wants to spend their Friday nights citing. 
  
  <h1>INTRO PAGE</h1>
    The entire Canadian Guide to Legal Citation, in one simple form. 
    Intra-Vires let's you easily generate and store your citations. 
    
    Save Time. Save Marks. 
    Intra-Vires's form is designed for both the expert and beginning. 
    
      Minimalist, sleek and easy to use. Each form field has unique tooltips to ensure correct usage
      
      It's 11:30.
      Your paper is due and your citations need to be done now. And they need to be done right.
      We have your back.
    
    Store your Citations.
    Save, organize and customize all of your citations
  
      <br></br><br></br><br></br><br></br><br></br>
<h1>How Legal Citations Work Generally</h1>

    After a court case comes down, it does not just magically disperse to lawyers. There are companies that make their business by choosing cases to report, and publishing them. These companies are called "reporters."

    Over time, different reporters came to prominence and became preferred reporters. Each reporter has an abbreviation that people cite to for saving space in their papers.

    The onset of the internet also permitted law reports to be published electronically, like on CanLII for free.

    Eventually courts began posting their cases on their own. Cases marked like this were termed "neutral citations" for their ease of use. Not all courts have established neutral citations, but most have.<br></br>


The Guide to Uniform to Legal Citation issued by the McGill Law Journal (7th edition) tells us how to cite in Canada. This site is not meant to replace the McGill guide, but help you follow it.

The McGill Guide tells us that, when you cite a case, you should cite to two locations of the case so the reader can find it easily. This is mostly a formality, as anyone can now look up the major cases on CanLII in a few seconds.

Of your two cited locations, the McGill Guide prefers one to be a neutral citation, if it exists. The remaining ones should be paper or electronic reporters.

Intra Vires simplifies this process. With everything going digital and the legal industry lagging, we see room for saving time and money for citing cases. Efficient research adorned with correct citations is within your power.




<h1 id ="CanadaCase">Canadian Cases</h1>

<h2 id ="styleofcause">Style of Cause</h2>
The style of cause is a fancy name for the title of a case, which is usually the names of the parties in the case: ex. Wang v. Reese.<br></br>

The "v." does not stand for "versus". It means "and".

Some cases are called "references", which normally don't have opposing parties: Reference Re Huang Estate.

The parties in criminal cases are normally "Regina" (i.e. the Crown) and the accused: R v Wills.

Input the style of cause as it appears on the case. Sometimes there are several parties to a case with long corporate names. Use the shortened version, if it is indicated, or make your own short version.

Intra Vires will automatically format your input to make it correct, so don't worry if the output looks different than your input.


<h2 id ="parallel">Parallel Citations</h2>
Cases can be cited to multiple places. Think of it like multiple addresses (i.e. citations) that all lead to the same person (i.e. case). These citations are called "parallel citations".

Some reporters are organized by year: [2008] 3 SCR 412 means the 3rd Supreme Court Report given in the year 2008, with the page on 412.

Other reporters are organized simply by counting: 55 AR 201 means the fifty-fifth publication of "All Reports", on page 201.

Always input at least two parallel citations, if they exist. Otherwise one will have to do.

Intra Vires will automatically select the preferred citations out of the ones you entered, and will take care of formatting.


<h2 id="year">Year of Decision</h2>
The year of the decision is the year in which the court came down with its judgement. <br>

The year of the decision may be different than the date of a reporter, if the reporter is organized by year. This is unusual, only really happening when the court case came down at the end of a calendar year and the reporter publishes it the following calendar year.


<h2 id="court">Court</h2>
There are many different courts in Canada. Some have adopted neutral citations, others have not.

The Intra Vires court input bar is designed to detect and inform you of the court as it is normally published.

You need to input a jurisdiction for every court, plus a type of court: ex. British Columbia Court of Appeal.

The court input bar accepts various abbreviations that you can get to know to be efficient: ex. bc court of appeal or BCCA.

Note that the court may appear differently in your citation because of the reporter that you used.


<h2 id="shortfrom">Short Form</h2>
Most styles of cause are cumbersome to write over and over. Therefore, the McGill Guide allows you to create a short form of the style of cause that you can use after you define it.

Short forms are usually given by the first party in a civil case (normally shortened to exclude words like "Corp" and "Ltd."): Tilden Rent-A-Car Co. v Clendenning can be shortened to "Tilden" or "Tilden Rent-A-Car". You choose.

Short forms are the name of an accused in a criminal case: R. v. Royer is shortened to "Royer".


<h2 id="pincite_input">Pinpoint</h2>
Pinpointing tells the reader of the citation which page(s) or paragraph(s) in particular contain the information you are conveying.

Intra Vires will only let you cite to particular reporters or neutral citations based on your input. Always cite to a paragraph(s) if the judgement has numbered paragraphs, otherwise a page(s) will have to do.

You may also "cite to" a particular reporter if you don't want to pinpoint when you originally cite the case. This means that, if you later cite to "Royer at 475", the reader will look back to where you cited Royer and see which reporter you "cite to". Then the reader will know that the page 475 belongs in that reporter.


<h2 id="judge">Judge</h2>
Better judges are better to cite, especially if one of the judges in a case gets cited in later cases. You may indicate the judge in the citation if you think it is relevant for the reader to know. 

You may also indicate if the judge was dissenting. If you are citing a dissenting judge, you should tell the reader.


<h2 id="citing">Citing</h2>
Often judges cite other cases in their judgements, for many reasons. If you think the reader should know where they have done so, you may add the case that they cite using the rules outlined above.


<h2 id="history">History</h2>
The history of a case may be relevant for the reader to know. 

Lower court judgements are usually assumed to be correct until the upper court finds an error in it. So it's a more powerful precedent if an appellate court reverses a lower court judgement. 

Furthermore, lower court judges don't like to have their judgements overturned. So if you submit a factum to a lower court judge, supply them with a case where the lower court judge in the past made an error and the court of appeal fixed it in favour of your client.

You should always indicate if the case you are citing was affirmed or reversed on appeal. 


<h2 id="leavetoappeal">Leave To Appeal</h2>
If you cite a recent case, check to see if it was appealed, and what the status of the appeal was. You should mention if leave appeal has been requested, or if it was denied or granted, because that's germane information for your reader in considering the persuasiveness of the case you cited.







<h1 id ="UKCase">United Kingdom Cases</h1>

Most of the rules for UK cases are explained above, in the Canadian cases. The major difference is with parallel citations.

<h2 id="UKparallel">Parallel Citations</h2>
In the UK, you should cite to a neutral citation and a paper reporter, if possible. If a neutral citation does not exist, then you can cite to only one reporter.










<h1 id="USCase">American Cases</h1>

Most of the rules for American cases are explained above, in the Canadian cases. The major difference is with parallel citations and pinpointing.

<h2 id="USparallel">Parallel Citations</h2>
In the USA, you only need to cite to one reporter. There are no neutral reporters.


<h2 id="USpinpoint">Pinpoint</h2>
Cite to pages in the USA because paragraph numbering is uncommon.



<h1 id ="JournalArticle">Journal Articles</h1>

Citing journal articles is mostly self-evident.

But, beginners, read this. When an author(s) submits an article for publication, it is only ever published in one publication. So there are no parallel citations for journal articles. 

Journals are cited as such: 32 Toronto LR 178 means the 32nd issue of the University of Toronto Law Review on page 178. You must always indicate the page last, so if your citation isn't working, make sure you fix that.



<h1>Books</h1>




<h1>Dictionary</h1>





  </body>