$def with (citations)
<link href="./static/css/myCitations.css" rel="stylesheet">
 <font class ="myCitationsTitle"> My Citations </font>

<a href ="./account"  style ="float: right; color: black"> My Account  <i class ="icon-chevron-right"></i></a>
<br>
<hr>
<!--
<div class = "row">
	<div class = "span2" id ="FAQ-nav" >
	<ul class="nav nav-list" style ="border-width:1px" >
	  <li class="nav-header">Contents </li>
	  <li class="active">
		<a href="#CanadaCase">Canadian Cases</a>
	  </li>
	     <ul class="nav nav-list">
			<li>
			  <a href ="#">test</a>
			</li>
		  </ul>  
	  <li>
		<a href="#UKCase">UK Cases</a>
	  </li>
	  <li>
		<a href="#USCase">American Cases</a>
	  </li>
	  <li>
		<a href="#JournalArticle">Journal Articles</a>
	  </li>
	</ul>
	</div>
    
</div> -->
	
 	<div class="leftContainer"> 
	</div>    
	<div class ="citationsContainer">
	$if citations:
		$for citation in citations
			$code:
				removal = "/citations/remove?id=" + str(citation.citation_id)
				date = citation.date_created.strftime("%b %d, %Y")

			<div class ="citation" >
				
				<div class ="well">
					<div class ="rightWellContainer row">
						<div  class= "span3">
							<font class ="formtype"> $:citation.formtype</font>
							<br>
							<font class = "date" >$date  </font>	
						</div>
						<div class ="iconContainer span">
							<a href =$removal class = "iconLink"><i class="icon-remove"></i> </a>
						</div>
						
					</div>
					
					<a href ="#myModal" data-toggle="modal" ><font class ="styleofcause red"> $:citation.title </font> </a> <br>
					<font class ="citation"> $:citation.citation </font>
					
					
				</div>
			</div>
	$else:
		<div align = 'center' style = "margin-top: 65px; font-size: 20px" >
		You currently have no citations. <br>
		 Create a citation <a href = "/">here </a>
		 </div>
		
    </div><!-- Entire Container -->
 

 
 
 
 
 
 
 
 <!-- <a data-toggle="modal" href="#myModal" class="btn btn-danger">Create New Citation</a> -->
 <a href ="/" class="btn btn-danger">+ New Citation</a>


					<div id="myModal" class="modal hide fade" style="display: none; ">
            <div class="modal-header">
              <button class="close" data-dismiss="modal">x</button>
              <h3>Modal Heading</h3>
            </div>
            <div class="modal-body">
              <h4>Text in a modal</h4>
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.</p>

              <h4>Popover in a modal</h4>
              <p>This <a href="#" class="btn popover-test" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title">button</a> should trigger a popover on hover.</p>

              <h4>Tooltips in a modal</h4>
              <p><a href="#" class="tooltip-test" data-original-title="Tooltip">This link</a> and <a href="#" class="tooltip-test" data-original-title="Tooltip">that link</a> should have tooltips on hover.</p>

              <hr>

              <h4>Overflowing text to show optional scrollbar</h4>
              <p>We set a fixed <code>max-height</code> on the <code>.modal-body</code>. Watch it overflow with all this extra lorem ipsum text we've included.</p>
              <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
              <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
              <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
              <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn" data-dismiss="modal">Close</a>
              <a href="#" class="btn btn-primary">Save changes</a>
            </div>
</div>

 
 
 
 


<script src="./static/js/myCitations.js"></script>
