$def with (citations)
<link href="./static/css/myCitations.css" rel="stylesheet">
 <font class ="myCitationsTitle red"> My Citations </font>
<br>
 
 	<div class="leftContainer"> 
	</div>    
	<div class ="citationsContainer">
		$for citation in citations
		
		<div class ="citation">
			<font class = "formtype"> $citation.formtype </font>	
			<div class ="well">
				<div class ="rightWellContainer">
					<div class ="iconContainer">
						<a href ="#" class = "iconLink"> Edit Form <i class="icon-share-alt"></i>	</a>
						<a href ="#" class = "iconLink"><i class="icon-edit"></i> </a>
						<a href ="#" class = "iconLink"><i class="icon-remove"></i> </a>
					</div>
					<font class ="date">Created -  $citation.date </font>
				</div>
				
				<a href ="#" ><font class ="styleofcause red"> $citation.styleofcause </font> </a> <br>
				<font class ="citation"> $citation.fullcitation </font>
				
			</div>
			
		</div>
		
		
    </div><!-- Entire Container -->
 <div class="container" style ="margin-top:50px;"> </div>     
 


<script src="./static/js/bootstrap-modal.js"></script> 