$def with (userid)
<div id="signupGetInfo">
	<!-- <div class ="signup-titlebar" > <font id ="signup-title"> You're almost there! </font></div> -->
	
	<div class = "hero-unit" style = "text-align: center">
	
<h1 class = "red"> Change your password. </h1>	
	
				$code:
					url = "/finishregistration?id="+str(userid)
		
				<form class="form" action = $url  method="POST" >
						<fieldset>
						<!-- Style Of Cause -->
						<div class="control-group">
							<div class="controls">
								<input type="password" class="input-large"  placeholder="First Name" name="password">
							</div>
							<div class="controls">
								<input type="password" class="input-large"  placeholder="Last Name" name="password again">
							</div>
							<br>
							<button type="submit" class="btn btn-info" id ="finish-registration">Change Your Password</button>
							
						</div>  
						</fieldset>
					</form>	
		
		</div>
</div>	
<script>
	jQuery("#finish-registration").click(function(){
	
		alert("Congratulations. You're all signed up!");
	})

</script>

  

 


