
<div id="signupGetInfo">
	<!-- <div class ="signup-titlebar" > <font id ="signup-title"> You're almost there! </font></div> -->
	
	<div class = "hero-unit" style = "text-align: center">
	
<h1 class = "red"> Forgot your password? </h1>	
		Enter your email and we will send you and email to reset your password.
				<form class="form" action ="/forgotPassword  method="POST" >
						<fieldset>
						<!-- Style Of Cause -->
						<div class="control-group">
							<div class="controls">
								<input type="text" class="input-large"  placeholder="First Name" name="email">
							</div>							
							<br>
							<button type="submit" class="btn btn-info" id ="forgot-password">Change Your Password</button>
							
						</div>  
						</fieldset>
				</form>	
		
		</div>
</div>	
<script>
	jQuery("#forgot-password").click(function(){
	
		alert("Your email has been sent.");
	})

</script>

  

 


