$def with (form)
<script src="./static/js/lib/bootstrap-tooltip.js"></script>
<script src="./static/js/lib/bootstrap-popover.js"></script>
<script src="./static/js/layout.js"></script>

<div id="mainTitle" style ="text-align:center">
	<img src = "./static/img/register/title.png">
</div>


<div id= "blurb" >
	
	<img id = "blurb-img" src = "./static/img/register/blurb.png" >


<div id="signup" style ="">
	<div class ="signup-titlebar" > <font id ="signup-title"> sign up </font></div>
		<form class="form" action = "/register"  method="POST"  id ="registerForm">
			<fieldset>
			<!-- Style Of Cause -->
			<div class="control-group">
				<div class="controls">
					$:form.username.render()
				</div>
				<div class="controls">
					$:form.password.render()
					
				</div>
				<div class="controls">
				$:form.password_again.render()
				</div>
				<button type="submit" class="btn" id="register-btn">Sign in</button><br>
				$if form.username.note :
					<span class="error red">$:form.username.note</span>
			</div>  
			</fieldset>
		</form>	
</div>	
</div>
<div>
<img src = "./static/img/register/info.png">
</div>
<div>
	<img src = "./static/img/register/quotes.png">
</div>

		<!-- <img src = "./static/img/intropage.jpg" id ="signup-image"> -->





 


