<img src = "./static/img/intropage.jpg">
<div id = "signup">
<div class ="signup-titlebar" > <font id ="signup-title"> sign up </font></div>
	<form class="form" action="/formInput" method="POST"  id ="login">
		<fieldset>
		<!-- Style Of Cause -->
        <div class="control-group">
			<div class="controls">
				<input type="text" class="input" id="" placeholder="email" name="signup-email">
			</div>
			<div class="controls">
				<input type="text" class="input" id="" placeholder="password" name="signup-email">
			</div>
			<button type="submit" class="btn">Sign in</button>
			
		</div>  
</div>
		