$def with (form)
<form name="login" method="POST" class = "register"> 

<input type="submit" value="Register" />
</form>


<img src = "./static/img/intropage.jpg">
<div id = "signup">
<div class ="signup-titlebar" > <font id ="signup-title"> sign up </font></div>
	<form class="form" action = "/register"  method="POST"  id ="login">
		<fieldset>
		<!-- Style Of Cause -->
        <div class="control-group">
			<div class="controls">
				$:form.name.render()
			</div>
			<div class="controls">
				$:form.password.render()
				
			</div>
			<div class="controls">
			$:form.password_again.render()
			</div>
			 $if form.password.note:
				<span class="error">$f.email.note</span>
			<button type="submit" class="btn">Sign in</button>
			
		</div>  
</div>
		