<div id="signupGetInfo">
	<div class ="signup-titlebar" > <font id ="signup-title"> You're almost there! </font></div>
	Tell us about your self
		<form class="form" action = "/register"  method="POST"  id ="login">
			<fieldset>
			<!-- Style Of Cause -->
			<div class="control-group">
				<div class="controls">
					<input type="text" class="input-xxlarge"  placeholder="First Name" name="firstname">
				</div>
				<div class="controls">
					<input type="text" class="input-xxlarge"  placeholder="Last Name" name="lastname">
				</div>
				<div class="controls">
					<input type="text" class="input-xxlarge"  placeholder="First Name" name="firstname">
				</div>
				<label class="control-label" for="occupations">Occupation</label>
				<select id ="occupations">
					<option selected = "selected" disabled = "disabled"> select.. </option>
					<option>Law Student</option>
					<option>Professor</option>
					<option>Lawyer</option>
					<option>Litigation Lawyer</option>
					<option>Solicitor </option>
					<option> Other </option>
				</select>
				<button type="submit" class="btn">Sign in</button>
				
			</div>  
			</fieldset>
		</form>	
</div>	

		<img src = "./static/img/intropage.jpg" id ="signup-image">
sup
<button class ="button" id ="but"> sup </button>



  

 


