$def with (form)


<div id = "signup">
<div class ="signup-titlebar" > <font id ="signup-title"> sign up </font></div>
	<form class="form" action = "/register"  method="POST"  id ="login">
		<fieldset>
		<!-- Style Of Cause -->
        <div class="control-group">
			<div class="controls">
				$:form.username.render()
			</div>
			<div class="controls">
				$:form.password.render()
				
			</div>
			<div class="controls">
			$:form.password_again.render()
			</div>
			 $if form.username.note :
				<span class="error">$:form.username.note</span>
			<button type="submit" class="btn">Sign in</button>
			
		</div>  
</div>
		<img src = "./static/img/intropage.jpg">
