$def with (email)
<div class = "container" style = "text-align: center">

	<div id = "confirmation-inner">
		<font style="font-family: RalewayReg;font-size: 25px;"> A confimation email has been sent!  </font> <br>
		<img src = "./static/img/email/emailrocket.png" style ="width:220px"> <br>
		<font style="font-family: RalewayReg;font-size: 25px;">Please check your email to finish your registration. </font><br> 
	</div>
	
	<div id = "emailhelp" style ="background-color: #e7eff0; font-size: 13px; padding: 25px 0 25px 0px ; margin-top: 100px;" >
		email not working? <br>
		we sent the email to: <font style ="color: #0088cc;" >$email</font> <br>
		<br>
		If that is not the right email, click 
		<a href = "./register" > here </a>
		to re-register.
	</div>
	
	
</div>


  

 


