$def with (userid=None, errormsg =None)
<div id="signupGetInfo">
	<!-- <div class ="signup-titlebar" > <font id ="signup-title"> You're almost there! </font></div> -->
	
	<div class = "hero-unit" style = "text-align: center">
	
<h1 class = "red"> Change your password. </h1>	
		<br>
				$code:
					url = "/changePassword?id="+str(userid)

				<form class="form" action = $url  method="POST" >
						<fieldset>
						<!-- Style Of Cause -->
						<div class="control-group">
							<div class="controls">
								<input type="password" class="input-large"  placeholder="Password" name="password">
							</div>
							<div class="controls">
								<input type="password" class="input-large"  placeholder="Password again" name="password_again">
							</div>
							<br>
							<button type="submit" class="btn btn-info" id ="finish-registration">Change Your Password</button>
						</div>  
						</fieldset>
					</form>	
					$:errormsg
		
		</div>
</div>	


  

 


