$def with (message=None, emailSent=None)
<div id="signupGetInfo">
	<!-- <div class ="signup-titlebar" > <font id ="signup-title"> You're almost there! </font></div> -->
	
	<div class = "hero-unit" style = "text-align: center">
	
<h1 class = "red"> Forgot your password? </h1>	<br>
		
				$if emailSent:
					<font style="color: #0088cc"> $message </font>
				$else:
					We will send you an email to reset your password. <br> <br>
					<form class="form" action ="/forgotPassword"  method="POST" >
						<fieldset>
						<!-- Style Of Cause -->
						<div class="control-group">
							<div class="controls">
								<input type="text" class="input-large"  placeholder="Email" name="email">
							</div>							
							
							
				
					<font class = 'red' > $message </font> <br>
					<button type="submit" class="btn btn-info" id ="forgot-password">Send</button>
						
								
							
						</div>  
						</fieldset>
				</form>	
		
		</div>
</div>	
<script>


</script>

  

 


