		<h1> The Documentation</h1>

				<div class = "row">
					<div class = "span3"id ="FAQ-nav" >
						<ul class="nav nav-list" style ="border-width:1px" >
						  <li class="nav-header">Contents </li>
						  <li class="active"><a href="#Headset">The Headset</a></li>
						  <li><a href="#">Emotiv Programs</a></li>
						  <li><a href="#">The GUI</a></li>
				  
						</ul>
					</div>
					<div class ="span7">
					
					Below is a full documentation regarding the Robotic Hand Controller developed by Stephen Huang and Mila Gorobets.
					<br>
					For Mila's Documentation, please see <a href= http://milagorobets.com/handcontroller/control.php> Her Page </a>
					
					</div>
					
					<div class ="span10">
					<hr>
					<h3 id ='#Headset'>The Headset </h3>

					<h4> Usage Tips </h4>
					In order to master the headset, the user must learn how to send consistent and distinct
signals to the headset. Using the Emotiv Control Panel, thoughts can be trained to move
a cube in a 3d environment. Practicing in this environment will allow you to hone your
skills and send the most easily detectable signals. The following tips will set you in the
right direction