<section>
	 
	 <!-- MANUAL FORM  -->
	<div id = "manual-header" class="header2"> Journal Article</div>
	<br>
	<br>

	<!-- The forms --> 
	<div class="leftHalf" id="Journal-Container"> 
		
		<form class="form-horizontal" id ="Journal-Form"> 
		<fieldset>
		
		<!-- Authors -->
		 <div class="control-group"  id ="JournalAuthors-controlgroup">
			<label class="control-label" for="JournalAuthors"> <b>Author(s)<font color ="red"> *</font></b> </label>
			<div class="controls">
				<textarea id ="JournalAuthors"  name ="authors" style ="width: 500px;" rows ="3" placeholder="Type each author on a new line."></textarea>
			</div>
		</div>
		
		<!--Title-->
		<div class="control-group"  id ="JournalTitle-controlgroup">
			<label class="control-label" for="JournalTitle"> <b>Title<font color ="red"> *</font></b> </label>
			<div class="controls">
				<input type="text" class="input-xxlarge" id="JournalTitle"
							placeholder="" name = "title">
			</div>
		</div>
		
		<!--Citation-->
		<div class="control-group" id ="JournalCitation-controlgroup">
			<label class="control-label" for="JournalCitation"><b>Citation<font color ="red"> *</font> </b></label>
			<div class="controls">
				<input type="text" class="input-xxlarge" id="JournalCitation"
							placeholder="" name = "citation">
			</div>
		</div>
									
			<div class="controls form-inline" id ="CanadaCaseParallel-reporter">
				<span class="help-block">
									
									<!-- REPORTER LIST <i class="icon-play"></i> -->
										<button class ="browsebutton" type ="button" style ="color: #0088cc; margin-bottom: 5px;"> &#187  <i> Browse Journals</i> </span> </button>
										<div id ="reporter-container" >
											<form class="form-search">
											  <input type="text" class="input-medium search-query" placeholder ="Search..." id = "reporter-input" name="reporter">
											</form>
											<button class ="browsebutton" type ="button" style ="color: #0088cc;  float: right; margin-right: 40px;">   <i> close</i> </span> </button> 
											<div id ="reporter-list">
											<table class="table table-condensed table-hover" id = "reporter-table" style = "max-height:400px">

											</table>
											</div> <!-- testy -->
									</div> <!-- container-->   
				</div>												

		<!--Year of Publication -->
		<div class="control-group"  id ="JournalYear-controlgroup">
			<label class="control-label" for="JournalYear"> <b>Year of Publication<font color ="red"> *</font></b> </label>
			<div class="controls">
				<input type="text" class="input-xxlarge" id="JournalYear"
							placeholder="" name = "year">
			</div>
		</div>
					
		<!--Pinpoint-->
		<div class="control-group" >			
			<label class="control-label" for="JournalPinpoint">Pinpoint</label>
				<div class="controls" >
						<select class = "input-medium" name = "pinpoint_selection" id="pinpoint-selection" style ="float:left">
							<option value ="None"  >None	</option>
							<option value ="pinpoint_para" >To paragraph(s)</option>
							<option value ="pinpoint_page" >To page(s)</option>											
							<option value ="pinpoint_foot" >To footnote(s)</option>											
						</select>	

					<div id ="pinpoint-forms" class = "inline">
						<input class="span2 " id="pinpoint-form1" placeholder = "para(s)" name = "pinpoint_form1" type="text">
						<input class="span2 " id="pinpoint-form2" placeholder = "page(s)" name = "pinpoint_form2" type="text">
						<input class="span2 " id="pinpoint-form4" placeholder = "page(s) (optional)" name = "pinpoint_form4" type="text">											
						<input class="span2 " id="pinpoint-form3" placeholder = "footnote(s)" name = "pinpoint_form3" type="text">
					</div>	
						<label class="checkbox" id ="pinpoint-check1"><input type="checkbox" value="checked" name="pinpoint_para_check">
						To general range
						</label>
						<label class="checkbox" id ="pinpoint-check2"><input type="checkbox" value="checked" name="pinpoint_page_check">
						To general range
						</label>
				</div>
		</div>							
		
		
			
		<!-- Error Containers -->
		$:render.formResults("Journal")			
		</fieldset>
		</form>
		$:render.formStoreCitationModal("Journal")
	</div> <!-- leftHalf-->
	
	<div class "rightHalf tooltips" id = "Journal-tooltips">
	</div> <!-- rightHalf / tooltips -->

</section>
				