<p align="center">
    <strong>TERMS OF USE</strong>
</p>
<p>
    This document outlines the Terms of Use for a subscription to the website at "intra-vires.com" ("our website"). The parties referred to in this document
    are 8564035 Canada Ltd. ("we", "us") and the party accepting these Terms of Use ("you").
</p>
<p>
    This document includes the following Sections: (1) Definitions, (2) Terms and Conditions, (3) Servicing Rights.
</p>
<p>
    We will give you access an electronic account ("your account") to our website upon completion of the steps outlined on the website.
</p>
<p>
    <u>1. Definitions</u>
</p>
<p>
    <strong>"Instructional Page"</strong>
    means the webpage at the address "www.intra-vires.com/instructional" that documents the capacities of our website.
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>"Login Credentials"</strong>
    means the username and password used to access your account.
</p>
<p>
    <u>2. Terms and Conditions</u>
</p>
<p>
    a. <strong>Licence.</strong> You have a licence to access your account with us.
</p>
<p>
    b. <strong>Licence Non-Transferable.</strong> Only you have the license to access your account with the Company. The licence is non-transferable. It does
    not survive you. Breach of this term will lead to immediate termination of your account upon our notification to you.
</p>
<p>
    c. <strong>Privacy and Security.</strong> We keep your Login Credentials encrypted and stored in a secured database when submitted to us. We have taken
    reasonable efforts to ensure security. You have the responsibility to keep your Login Credentials and Payment Information confidential when it is left in
    other electronic or physical forms.
</p>
<p>
    d. <strong>Limitations on use.</strong> You may not attempt to hack into our coding framework that supports our website. You may not sell any part of our
    coding. You may not use any part of our coding for purposes unconnected with the regular intended use of the website without express written permission
    addressed to you by us. Regular intended use of the website is using the website in the ways described in the Instructional Page.
</p>

<p>
    e. <strong>Conformity to the McGill Guide 7th Edition.</strong> The website has been programmed for the purpose of generating legal citations for Canadian
    Court Cases, American Court Cases, United Kingdom Court Cases, Journal Articles, and Books including Dictionaries according to the Canadian Guide to
    Uniform Legal Citation 7th Edition issued by the McGill Law Journal and published by Carswell. The algorithms are optimized for English, not the French
    portion of the book. The features include choosing the best reporters for your citation, formatting the style of cause, date, and court, adding pinpoints
    or &#34;cite to&#8217;s&#34; , citing another case, indicating case history, short form, and judge.
</p>
<p>
    b. <strong>Limitation on Liability. </strong>You agree that we are not responsible for any loss or grievance you may encounter by using our website. You
    use it at your own risk. We do not guarantee precision of citations.
</p>
<p>
    <u>3. Servicing Rights</u>
</p>
<p>
    We maintain the right to add, improve, or fix features on the website from time to time, but not to take away any that exist at this time. The
    Instructional Page will reflect such changes.
</p>

These Terms of Use were last updated on September 5, 2013.

Copyright © 2013 Intra Vires Research Tools Ltd. – All Rights Reserved.