@font-face
{
font-family:RalewayReg;
src: url(../fonts/Raleway-Regular.ttf);
}
@font-face
{
font-family:RalewayMed;
src: url(../fonts/Raleway-Medium.ttf);
}
@font-face
{
font-family:RalewayBold;
src: url(../fonts/Raleway-Bold.ttf);
}
p{
font-family:RalewayThin;

}
h2{
font-family:RalewayReg;
}
.header2{
font-family: RalewayReg;
font-size: 16px;
color: #fe6060;

}
.header3{
font-family: RalewayBold;
font-size: 14px;
color: #333333;
margin: 0 auto;
text-align: center;

}
.input-xxlarge {
width: 500px;
}
.input-xlarge {
width: 410px;
}
#formoutput2 .table th, .table td { 
     border-top: none; 
 }
 table td {
    border-top: none;
}

body{
	background-repeat: repeat;
	background-image:url("../img/otis_redding.png");
	background-color:grey;

}
#white-page{
	z-index: 1;
	margin: 0 auto;
	position: relative;
	top: -35px;

	width: 1100px;
	background-color:white;

}

#titlebar{
	z-index: 2;
	margin: 0 auto;
	position: relative;
	top: 20px;
	padding:0px;
	
	height: 35px;
	width:1180px;
		
	opacity: .48;
	box-shadow: 1px 1px 5px #777777;
	background:#f7f7f7
	
}

.inner-titlebar{
	padding-top: 7px;
	margin-left: 100px;
	color: #fe6060;
	font-size: 20px;
	opacity: 1;
}

.top-red-title-bar{
	margin: 0 auto;
	margin-bottom: 100px;
	height: 10px;
	padding:0px;
	top:0;
	width:100%;
	background:#e85a56
}

.content-container{
	margin:0 auto;
	width: 1000px;

}
.leftHalf{ width: 750px; float: left; padding-right: 0px;}
.rightHalf{ width: 250px; float: left; padding-left: 0px;}


.banner{
	background-repeat: repeat;
	backgroun-image: url("/./static/img/banner.png");
	height:500px;
}
.jumbowrapper{
	background-image:url("../img/debut_light.png");
}

#tooltips{
	padding-left: 20px;
	font-size: 12px;

}
#collapseTwo-extra {
 	border: 0 none; 
 }
 
.accordion{
	width: 700px;
}

.accordion-inner{
padding-right: 10px;
padding-left:0px;
}
.information-blurb{
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 30px;
	height: 500px;
	color: white;
	background:#454545;
}
.control-label{

}
label.valid {
  width: 24px;
  height: 24px;
  background: url(assets/img/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}

button.browsebutton { 
	background:none;
	border:none; 
}