.titlebar{
	height: 20px;
	padding:20px;
	position:fixed;
	top:0;
	width:100%;
	box-shadow: 1px 1px 5px #777777;
	background:#E62B2B;
	
}
.inner-titlebar{
	margin-top:5px;
	color: white;
	font-size: 25px;
}

.fixedtop{
	padding:20px;
	height: 40px;
	width:100%
}
.jumbowrapper{
	background-image:url("../img/debut_light.png");
}

.information-blurb{
margin-top: 30px;
margin-bottom: 30px;
padding: 30px;
height: 500px;
color: white;
background:#454545;
}
.control-label{

}
label.valid {
  width: 24px;
  height: 24px;
  background: url(assets/img/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}