#signup{
	width:300px;
}
#signup-title{
	font-family:RalewayReg;
	font-size: 25px;
	top: 20px;
	color: white;

}
.signup-titlebar{
	height: 40px;
	background:#e85a56;
	width:100%;
	margin-bottom:20px;
	text-align:center;
		vertical-align:middle;

}
#login{
    text-align: center;
	}
	
form.register table{
	background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
	background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
	margin:auto;
	position:relative;
	width:550px;
	height:450px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-style: italic;
	line-height: 24px;
	font-weight: bold;
	color: #09C;
	text-decoration: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
	border: 1px solid #999;
	border: inset 1px solid #333;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	width:300px;

}