#signup{
	width:300px;
}
#signup-title{
	font-family:RalewayReg;
	font-size: 25px;
	top: 20px;
	color: white;

}
.signup-titlebar{
	height: 40px;
	background:#e85a56;
	width:100%;
	margin-bottom:20px;
	text-align:center;
		vertical-align:middle;

}
#login{
    text-align: center;
	}