#signup{
	width:300px;
}
#signup-title{
	font-family:RalewayReg;
	font-size: 40px;
	color: white;
	text-align: center;

}
.signup-titlebar{
	height: 45px;
	background:#e85a56;
	width:100%;
	margin-bottom:20px;

}
#login{
    text-align: center;
	}